# ----
# Site
title:
  en: Multilingual jekyll
  zh: jekyll多語言
copyright:
  en: All rights reserved.
  zh: 版權所有 不得轉载
  gb: 版权所有 不得转载
email: smccsally@gmail.com
description:
  en: Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
  zh: Écrivez une super description de votre nouveau site ici. Vous pouvez modifier cette ligne dans _config.yml. Elle apparaîtra dans la balise meta description (pour les résultats sur Google) et dans le fil RSS feed.xml.
index:
  en: index.html
  zh: index.html

# Build settings
markdown: kramdown

baseurl: "/multiligual-jekyll" # the subpath of your site, e.g. /blog
url: "//salichen.com"                                         #://example.com
#google_analytics_key: UA-120711820-1
newsletter_action:
disqus_shortname:

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: Food blog template for Jekyll.
author:
  name:
  email:
  twitter: # twitter username without the @ symbol


# -----
# Build

timezone: Etc/UTC


paginate_multiple:
  - paginate: 3
    paginate_path: '/page:num/'
    sub_dir: '/'
  - paginate: 3
    paginate_path: 'zh_HK/page:num/'
    sub_dir: '/zh_HK'


defaults:
  -
    scope:
      type: posts
    values:
      layout: post
      push_sidebar_down: true
      print_stylesheet: true
      comments: true
      _options:
        content:
          width: 1560
          height: 2000
        featured_image:
          width: 1560
          height: 2000
  - 
    scope:
      path: _posts/zh
      type: posts
    values:
      layout: post
      push_sidebar_down: true
      print_stylesheet: true
      comments: true
      _options:
        content:
          width: 1560
          height: 2000
        featured_image:
          width: 1560
          height: 2000

  
  -
    scope:
      path: ""
    values:
      layout: "default"
  # -
  #   scope:
  #     path: "index.html"
  #   values:
  #     layout: "default"
  #     push_sidebar_down: true

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate
  - jekyll-paginate-multiple
include: [zh]
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - RSS

_options:
  author_image:
    width: 400
    height: 400